# Lists

Some basic things you can do with lists. We can create a new list and assign it to variable:

In [57]:
var = [14, 34, 89, 10]

We can access and change the $k$-th element in the list. Note that elements in the list are indexed from zero:

In [58]:
var[1]

34

In [59]:
var[2] = 45
var

[14, 34, 45, 10]

`len` function outputs the length of the list:

In [60]:
len(var)

4

We can use append to add new element at the end of the list:

In [61]:
var.append(6)
var

[14, 34, 45, 10, 6]

Convenient syntax to initialize a list with the same value repated a given number of times:

In [62]:
var = [False] * 30
print(var)

[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]

You can also multiply any other list by an integer, wich will output list that repeats its content given number of times. This is less useful:

In [63]:
[1,2,7]*5

[1, 2, 7, 1, 2, 7, 1, 2, 7, 1, 2, 7, 1, 2, 7]

# Exercises

In [64]:
var = [1,2,5,8,13]

Write code that outputs a product of all elements of the list `var`

In [65]:
# result = product of
# all elements of var
result = 1
for x in var:
    result= result * x
# %%
result

1040

Construct a list with elements `[1,2,3,4,..., n]`

In [66]:
n = 25
# produce a list with elements
# [1,2, ..., n]
var = [0] * n
for i in range(1, n+1):
    var[i-1] = i
print(var)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

Alternative soluttion

In [67]:
var = []
# %%
for i in range(1, n+1):
    var.append(i)
print(var)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

Check if the list `var` is increasing:

In [68]:
var = [1,2,5, 21, 17]
## check if the list 
# is increasing
var[0]
# %%
result = True
for i in range(len(var) - 1):
    if var[i] >= var[i+1]:
        result = False
        break
print(result)

False

Find the first occurence of element `x` in the list `var`. If there is no such element, output $-1$.

In [69]:
# %%
var = [1,2,4,6,5, 11, 3]
x = 7
res = -1
for i in range(len(var)):
    if var[i] == x:
        res = i
        break
print(res)

-1

In [70]:
var1 = [1,5,25, 12, 23]
var2 = [7, 3, 6, 11]

Check if two lists have element in common

Solution 1, reusing (by copy-pasting) the previous code:

In [71]:
result = False
for x in var1:
    res = -1
    for i in range(len(var2)):
        if var2[i] == x:
            res = i
            break
    if res != -1:
        result = True

Solution 2, a bit more compact:

In [72]:
result = False
for x in var1:
    for y in var2:
        if x==y:
            result = True
            # Note that this break exists only the inner loop ! (over y)
            break 
print(result)

False

Produce a list that contain all even elements from the list `var`

In [73]:
var = [1,6,4,7, 12, 13]
result =[]
# I want list result to
# contain all even elements
# from var
for x in var:
    if x%2 == 0:
        result.append(x)
print(result)
# %%

[6, 4, 12]

Last exercise (homework?)

In [74]:
var = [1,3,6,8,9,21, 55]
x = 9
# assume that var is increasing
# find position of x 
# in the list using
# binary search
# %%