# Variable assignments and simple expressions

In [2]:
a = 10
b = 12
a + b

22

In [3]:
a + 2*b

34

In [5]:
a = 1
a = a + 1
b = a
a = a + 1

In [6]:
a

3

In [7]:
b

2

## Mutable variables for the first time - lists

In [8]:
a = [1, 2, 3]

In [9]:
b = a

Variables a and b now **refer to** the same list.

In [10]:
a

[1, 2, 3]

In [11]:
b

[1, 2, 3]

In [12]:
a[2] = 7

If we change the third element of the list reffered to by a, and print the list refred to by b, it will have changed - because it's the same list!

In [13]:
a

[1, 2, 7]

In [14]:
b

[1, 2, 7]

Why a[2] = 7 in previous code? Lists in python are indexed from 0:

In [15]:
a[0]

1

In [16]:
a[1]

2

In [17]:
a[2]

7

Let's try it again:

In [25]:
a = [1,2,3]
b = a
a[2] = 7
b

[1, 2, 7]

But what happens if instead we do this:

In [5]:
a = [1,2,3]
b = [1,2,3]

Now variables a and b each are initialized by a **new** list, that happens to have the same values in corresponding position.

In [6]:
a[2] = 7
a

[1, 2, 7]

Changing the list referred to by a, does not affect the list referred to by b - those are different lists.

In [8]:
b

[1, 2, 3]

We will discuss this later, when we have discussed functions and lists more, compare it to the following piece of code:

In [9]:
a = [5,6,7]
b = a.copy()

a.copy() creates a **new copy** of the list with the same values as a, and the line above assigns the reference to this list to b. After this, a and b refer to two different lists, both with the same content

In [11]:
a, b

([5, 6, 7], [5, 6, 7])

In particular, changing one entry of the list referred to by a, does not affect the list referred to by b

In [12]:
a[2] = 3
b

[5, 6, 7]

## Printing and operations on integers

In [25]:
print("Hello world!")

Hello world!

In [14]:
x = 11

In [15]:
print(x)

11

In [16]:
print("Value of variable x is", x)

Value of variable x is 11

In [17]:
x

11

In [18]:
a = 10

In [19]:
a = a + 1
print("Value of a is ", a)
b = a
print("Value of b is ", b)

Value of a is  11
Value of b is  11

In [20]:
a = 11
b = 5
print("a / b is ", a / b)
print("a // b is", a // b)
print("a mod b is ", a % b)

a / b is  2.2
a // b is 2
a mod b is  1

In [21]:
(a + b) * (a * b) - b*b

855

In [22]:
a < b

False

In [23]:
a > b

True

In [24]:
a >= b

True

In [41]:
a = b

In [42]:
a == b

True

In [45]:
n = 20

# Control flow

## If statement

In [27]:
n = 33
if n < 15:
    print("Hello world!")

In [28]:
n = 7
if n < 15:
    print("Hello world!")

Hello world!

We also have if-else statement:

In [29]:
n = 33
if n < 15:
    print("Hello world!")
    n = 6
else:
    print("n is large")
    n = 33
print("Over")

n is large
Over

In [30]:
n

33

In [31]:
n = 19
if (n > 15) and (n < 30):
    print("Hello world")

Hello world

We can also nest if statements:

In [32]:
if n > 15:
    print("n is greater than 15")
    n = 2 * n - 3
    if n < 30:
        print("Hello world")

n is greater than 15

**Exercise 1**
Write a code that checks if n is even - if it is, divides n by two, otherwise multiplies it by 3 and adds 1

In [33]:
n = 36

In [34]:
if (n % 2) == 0:
    n = n // 2
else:
    n = 3 * n + 1

print(n)

18

Small detail: note integer division n//2 instead of float division n/2.

## While statement

The following piece of code prints all numbers from 1 to 35.

In [36]:
n = 35
i = 1
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

**Exercise 2** Write a piece of code printing all _even_ numbers between 1 and 35

**Solution 1**

In [37]:
n = 35
i = 0
while i <= n:
    print(i)
    i = i + 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34

**Solution 1** 
Nesting while and if (WRONG)

In [39]:
n = 35
i = 2
while i <= n:
    if i%2 == 0:
        print(i)
        i = i + 1

2

KeyboardInterrupt:

**Solution 2** 
Nesting while and if (Correct)

In [38]:
n = 35
i = 2
while i <= n:
    if i%2 == 0:
        print(i)
    i = i + 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34

**Exercise 3 (Collatz sequence)**

Write a code that, starts with a given number $n$, keeps repeating the operation from Exercise 1, for as long as the number is greater than 1. That is: as long as n is greater than one, if its even divide it by two, if its odd multiply it by 3 and add 1.

In [79]:
n = 257

In [80]:
while n > 1:
    if (n % 2) == 0:
        n = n // 2
    else:
        n = 3 * n + 1
    print(n)

772
386
193
580
290
145
436
218
109
328
164
82
41
124
62
31
94
47
142
71
214
107
322
161
484
242
121
364
182
91
274
137
412
206
103
310
155
466
233
700
350
175
526
263
790
395
1186
593
1780
890
445
1336
668
334
167
502
251
754
377
1132
566
283
850
425
1276
638
319
958
479
1438
719
2158
1079
3238
1619
4858
2429
7288
3644
1822
911
2734
1367
4102
2051
6154
3077
9232
4616
2308
1154
577
1732
866
433
1300
650
325
976
488
244
122
61
184
92
46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2
1

Try running this code with various starting $n$. Notice that it always seem to eventually reach 1: the loop above seems to terminate. Whether it actually does for every starting number $n$ is a long standing open question, you might want to read more about it on Wikipedia https://en.wikipedia.org/wiki/Collatz_conjecture

## Factorial

In [ ]:
n = 6

**Exercise 4** Write a code that, when initialized with some integer in the variable $n$, ends with the variable "result" set to $n!$, i.e. $\mathrm{result} = 1 \cdot 2 \cdot \ldots \cdot n$.

In [88]:
result = 1
i = 1
while i <= n:
    result = result * i
    i = i+1

In [87]:
result

24

## Sum of all odd numbers up to n

**Exercise 5** Write a code that outputs sum of all odd numbers up to $n$.